{% extends "layout.html" %} {% block content %}
<div class="flex-center">
<div>
<p>{{ var}}</p>
<div class="row">
    <div class="col-md-auto p-3 mb-2 bg-primary text-white">.bg-primary</div>
    <div class="col-md-auto p-3 mb-2 bg-secondary text-white">.bg-secondary</div>
    <div class="col-md-auto p-3 mb-2 bg-success text-white">.bg-success</div>
</div>

<div class="row">
    <div class="col-md-auto p-3 mb-2 bg-danger text-white">.bg-danger</div>
    <div class="col-md-auto p-3 mb-2 bg-warning text-dark">.bg-warning</div>
    <div class="col-md-auto p-3 mb-2 bg-info text-white">.bg-info</div>
</div>

<div class="row">
    <div class="col-md-auto mx-auto mb-2 bg-light text-dark">.bg-light</div>
    <div class="col-md-auto p-3 mb-2 bg-dark text-white">.bg-dark</div>
    <div class="col-2 p-3 mb-2 bg-white text-dark">.bg-white</div>
</div>
</div>
</div>

{% endblock content %}
