{% extends "layout.html" %}
{% block content %}

<!-- Primary -->
<div class="btn-group">
    <button
      type="button"
      class="btn btn-primary dropdown-toggle"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
    >
      Action
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>
  
  <!-- Secondary -->
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-primary dropdown-toggle"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
    >
      Action
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>
  
  <!-- Success -->
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-success dropdown-toggle"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
    >
      Action
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>
  
  <!-- Info -->
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-info dropdown-toggle"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
    >
      Action
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>
  
  <!-- Warning -->
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-warning dropdown-toggle"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
    >
      Action
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>
  
  <!-- Danger -->
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-danger dropdown-toggle"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
    >
      Action
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>
  
  <!-- Danger -->
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-danger dropdown-toggle"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
    >
      Action
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>
  
  <!-- Dark -->
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-dark dropdown-toggle"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
    >
      Action
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>
  
  <!-- Light -->
  <div class="btn-group shadow-0">
    <button
      type="button"
      class="btn btn-light dropdown-toggle"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
    >
      Action
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>
  
  <!-- Link -->
  <div class="btn-group shadow-0">
    <button
      type="button"
      class="btn btn-link dropdown-toggle"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
    >
      Action
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>
{% endblock content %}
