{% extends "layout.html" %} {% block content %}
<div class="container h-100 vertical-center">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="dropdown">
      <button
        class="btn btn-danger dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Topic
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/about">Ecommerce</a>
        <a class="dropdown-item" href="#">Education </a>
        <a class="dropdown-item" href="#">Healthcare</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
